body{
    font-family: roboto;
}
#row{
    background-image: url(fotos/fotos-archivo/Banner.png);
    width: 100%;
    height: 650px;
    top: 93px;
    background-size: cover; 
    
}

#fondo{
    text-align: left;
    padding-left: 6em;
    padding-top: 10em;
}

#fondo h1{
    font-weight: bold;
    font-size: 3.4em;
    align-self: initial;
    position: relative;
    letter-spacing: 2px;
}

.button-consorcio{
    background-color: red;
    color: white;
    font-weight: bold;
    position: relative;
    border: red;
    width: 9.5em;
    height: 1.625em;
    font-size:1.4em;
    margin: 1em;
}

#fondo h3{
    position: relative;
    font-size:1.2em;
    margin-left: 2.4em;
}

#row2{
    height: 350px;
    font-size:3.4em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 0.2em;
}
#row3{
    background-image: url(fotos/row-3.jpg);
    width: 494px;
    height: 500px;
    background-size: cover;
}
.parrafo{
    font-size: 15px;
    text-align: left;
    font-weight: normal;
    font-family: roboto;
    line-height: 33px;
}
#administracion{
    background-image: url(fotos/fotos-archivo/Img_Administración.png);
    height: 550px;
    width: 100%;
    background-size: cover;
}

#administracion h3{
    font-weight: bold;
    font-size: 3.4em;
    margin-top: 100px;
}

#administracion p{
    position: relative;
    top: 150px;
}